@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root {

  /* Background */

  --color-bg-header: #F8F8FF;
  --color-bg-footer: #F8F8FF;
  --color-bg-button: #846AFF;


  /* Text */

  --color-text-primary: #121214;
  --color-text-accent: #846AFF;
  --color-text-inverse: #FFFFFF;


  /*  Border */

  --color-border-default: #EEEEFF;


  /* Input */

  --color-input-bg: #FFFFFF;
  --color-input-border: #EAEAEA;
  --color-input-placeholder: #7C7C8A;
  --color-input-focus: #846AFF;

}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--color-text-primary);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--color-bg-button);
  color: var(--color-text-inverse);
  width: 100%;
  padding: 1.4rem 3.2rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1.6rem 1.8rem;
  border: 0.1rem solid var(--color-input-border);
  border-radius: 0.4rem;
  background-color: var(--color-input-bg);
}

textarea {
  height: 15rem;
  resize: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: var(--color-input-placeholder);
  font-size: 1.4rem;
}