.footer-psg {
  background: var(--bg-footer);
  padding: 8rem 3.2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.footer-logo img {
  max-width: 80rem;
  object-fit: cover;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-column h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-list-link a {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1;
}

/* MEDIA QUERIES*/

/* Tablet */
@media only screen and (min-width: 768px) {
  .footer-container {
    gap: 6.4rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 6.4rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .footer-psg {
    padding: 8rem 3.2rem;
  }

  .footer-container {
    max-width: 121.6rem;
    margin: 0 auto;
    gap: 8rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-content {
    flex-direction: row;
    gap: 8rem;
  }

  .footer-column h3 {
    font-size: 2.4rem;
  }

  .footer-list-link a {
    font-size: 1.8rem;
  }
}

